<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="readExcelPath" value="C:\Users\vjkyky\Documents\Volkan\Visual_excel_copy\SAYAÇ 2019.xls" />
    <add key="writeExcelPath" value="C:\Users\vjkyky\Documents\Volkan\Visual_excel_copy\TUKETIM_ORIGINAL_12_19_tek_zamanlı_tarife.xls" />
    <add key="dataNumber" value="41" />
    <add key="readExcelStartRow" value="11" />
    <add key="readExcelStartLine" value="4" />
    <add key="writeExcelStartRow" value="8" />
    <add key="writeExcelStartLine" value="2" />
    <add key="writeExcelSheetNumber" value="2" />
    <add key="mailReceivers" value="oguz.kabakci94@hotmail.com; VolkanDalkilic@windowslive.com" />
    <add key="mailSubject" value="Enter subject here" />
    <add key="mailBody" value="Enter body here" />
  </appSettings>
</configuration>